# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* PYTHON
* SQL
* R

Some of the popular languages that Data Scientists use are:
1. python
2. sql
3. scala

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matpltlib

|__Data Science Tools__|
|----------------------|
|pycharm               |
|vs code               |
|jupyter notebook      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
x=200/60
print(x)

3.3333333333333335

## Author
AHMED SIDDIG AHMED SAAD